.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}
.add form {
  gap: 20px;
}
.add-image-upload img {
  width: 100px;
}
.add-product-name,
.add-product-desc {
  width: max(40%, 280px);
}
.add-product-name input,
.add-product-desc input {
  padding: 10px;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
}
.add-category-price {
  display: flex;
  gap: 30px;
}
.add-category-price select,
.add-category-price input {
  max-width: 100px;
  padding: 8px 6px;
  border: 1px solid;
  border-radius: 4px;
}
.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  color: #fff;
  background-color: #114232;
  cursor: pointer;
  border-radius: 5px;
}
