.navbar {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  z-index: 1000;
}

.navbar .logo {
  width: 100px;
  margin-top: 5px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #49557e;
  font-size: 18px;
}

.navbar-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar-menu.open ul {
  flex-direction: column;
}

.navbar-menu li {
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-menu li:hover,
.navbar-menu .active {
  color: #114232;
  border-bottom: 2px solid #114232;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-right img {
  width: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-right img:hover {
  transform: scale(1.1);
}

.navbar button {
  background: #165741;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #039b53;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #04bd62;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  border: 2px solid #f8f9fa;
}

.navbar-profile {
  position: relative;
  cursor: pointer;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  visibility: visible;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-profile-dropdown li:hover {
  color: #04bd62;
}

.nav-profile-dropdown img {
  width: 20px;
}

/* Responsiveness */
@media (max-width: 900px) {
  .navbar {
    width: auto;
   justify-content: space-between;
   padding: 5px 20px;
  }
  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 20px;
    /* border-radius: 15px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.open ul {
    flex-direction: column;
    gap: 20px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-profile {
    order: 2;
  }

  .navbar .cart {
    order: 1;
    
  }
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #49557e;
  transition: transform 0.3s ease;
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }
}
